.main_header_area .register-login .btn-info {
  border: none;
  background: transparent;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
}


/* .modal-dialog {
 margin: auto;
} */

.modal-content {
  border: none;
  position: relative;
  border-radius: 0;
  align-items: center;

}

.modal-dialog .modal-content .modal-body {
  padding: 20px;
  max-width: 920px;
  /* margin-left: 15%; */
}

.modal-dialog .modal-content .login-content {
  box-shadow: 0 0 15px #cccccc37;
}

@media (max-width: 991px) {
  .modal-open .modal .modal-dialog {
    max-width: 80%;
    margin: 0 auto;
  }

  .modal-open .modal .modal-dialog .blog-full .blog-image>a {
    height: 280px;
  }
}


.log-reg .nav-pills {
  margin-bottom: 20px;
}

.log-reg .nav-pills .nav-link {
  padding: 14px 18px;
}

.log-reg .nav-pills .nav-link.active,
.log-reg .nav-pills .show>.nav-link {
  background: #029e9d;
  border-radius: 10px;
}

.log-reg .btn-fb,
.log-reg .btn-google {
  padding: 14px 18px;
  text-align: center;
  background: #506dab;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
}

.log-reg .btn-google {
  background: #dd4b39;
}

.log-reg hr.log-reg-hr {
  opacity: 1;
  background-color: #ccc;
}

.log-reg hr.log-reg-hr::before {
  background-color: #ffffff;
  bottom: 0;
  color: #029e9d;
  content: "Or";
  font-size: 16px;
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: 0;
  text-align: center;
  top: -12px;
  width: 10%;
}

.btn-google {
  padding: 8px 20px;
  color: #fff;
  background: #ccc;
  border-radius: 0px;
  display: inline-block;
  border: 1px solid #395899;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 20px;
  /* margin-left: 15%; */
}

.fade:not(.show) {
  opacity: 1;
}


.nav-tabs>li.nav-item {
  margin: 0 4px;
}

.nav-tabs>li.nav-item button {
  border-radius: 10px;
  padding: 15px;
  margin: 0;
  line-height: inherit;
  border: 1px solid #f1f1f1;
  display: inline-block;
  width: 100%;
}

.nav-tabs>li.nav-item button:hover {
  color: #fff !important;
  border-color: #029e9d;
  background: #029e9d;
}

@media (max-width: 991px) {
  .nav-tabs {
    width: 100% !important;
  }
}

@media (max-width:450px) {

  .blog-image img {
    background-size: cover;
    border-radius: 10px;
    margin: 10px 0px;
    height: 500px;
    /* width: 100%; */
    background-position: center;
    display: none;

  }
}

@media (max-width: 767px) {
  .nav-tabs>li.nav-item {
    margin: 0 4px 4px;
  }
}

/* 

.nav-tabs>li.nav-item button {
  border-radius: 10px;
  padding: 15px;
  margin: 0;
  line-height: inherit;
  border: 1px solid #f1f1f1;
  display: inline-block;
  width: 100%;
color: black;
}

.nav-tabs>li.nav-item button:hover {
  color: #fff !important;
  border-color: #029e9d;
  background: #029e9d;
}

/* .nav-tabs>li.nav-item button.active {
  color: #fff !important;
  border-color: #029e9d;
  background: #029e9d;
} */

/* .nav-tabs>li.nav-item button.active:hover {
  color: #fff !important;
  border-color: #029e9d;
  background: #029e9d;
} */

.blog-image>img {
  background-size: cover;
  border-radius: 10px;
  margin: 10px 0px;
  height: 500px;
  /* width: 100%; */
  background-position: center;
  display: inline-block;
  transition: all ease-in-out 0.5s;
}



.lost {
  color: #777;
  transition: all ease-in-out .5s;
  cursor: pointer;
  text-decoration: none;
}

/* .tab-content {
  height:550px;
  background-color: red;
} */

.tab-content>img {
  border-radius: 20px;
}