nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 20px 10px;
}

nav li a {
  text-transform: uppercase;
  color: grey;
  text-decoration: none;
  padding: 5px;
  font-weight: 400;
}

.active {
  color: #029e9d;
}

.navi {
  margin: auto;
  text-decoration: none;
  color: grey;
  text-align: center;
  padding: 13px;
}

.links ul {
  margin: 0.6rem;
}

.main_header_area {
  position: relative;
  width: 100%;
}

.main_header_area .header-content {
  position: relative;
  z-index: 1;
  background: #ffffff30;
}

.main_header_area .header-content li {
  display: inline-block;
  padding: 0px 15px;
  border-left: 1px solid #f1f1f136;
  margin: 0;
}

.main_header_area .header-content li:first-child {
  border: none;
  padding-left: 0;
}

.main_header_area .header-content li:last-child {
  padding-right: 0;
}

.main_header_area .header-content a,
.main_header_area .header-content i {
  font-size: 14px;
}

.main_header_area.headerstye-1 {
  position: absolute;
  width: 100%;
}

@media (max-width: 991px) {
  .headerstye-1 .header-content {
    display: none;
  }

  .headerstye-1 .navbar-header {
    display: block;
  }

  .main_header_area .header-content,
  .search-main {
    display: none !important;
  }
}

@media (max-width: 735px) {
  .main_header_area .header-content {
    display: none !important;
  }
}

.main_header_area {
  position: relative;
  width: 100%;
}

.main_header_area .header-content {
  position: relative;
  z-index: 1;
  background: #ffffff30;
}

.main_header_area .header-content li {
  display: inline-block;
  padding: 0px 15px;
  border-left: 1px solid #f1f1f136;
  text-decoration: none;
  margin: 0;
}

.main_header_area .header-content li:first-child {
  border: none;
  padding-left: 0;

}

.main_header_area .header-content li:last-child {
  padding-right: 0;
}

.main_header_area .header-content a,
.main_header_area .header-content i {
  text-decoration: none;
  font-size: 14px;
}

.main_header_area.headerstye-1 {
  position: absolute;
  width: 100%;
}


@media (max-width: 991px) {
  .headerstye-1 .header-content {
    display: none;
  }

  .headerstye-1 .navbar-header {
    display: block;
  }

  .main_header_area .header-content,
  .search-main {
    display: none !important;
  }
}

@media (max-width: 735px) {
  .main_header_area .header-content {
    display: none !important;
  }
}